Repository tamaragolobic/secret_santa_v3, pull requests merged in 2021-11, with the labels that each got.

#19 Feature/room logic
  .idea/dataSources.xml
  backend/Controller/DatabaseController.php
  backend/Controller/RoomController.php
  backend/Helper/RouteHelper.php
  backend/Model/AbstractModel.php
  backend/Model/RoomModel.php
  backend/Model/RoomUserModel.php
  database/change-20211017-AB.sql
  database/change-20211031-TG.sql
  frontend/.env.dist
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/CreateRoom.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/JoinRoom.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Register.tsx
  frontend/src/components/Room.tsx
  frontend/src/components/ShowRooms.tsx
  frontend/src/helpers/BaseHelper.tsx
  frontend/src/interfaces/HomeInterface.tsx
  frontend/src/interfaces/LoginInterface.tsx
  frontend/src/interfaces/RegisterInterface.tsx
  frontend/src/interfaces/RoomInterface.tsx
Labels: feature

#20 Added room list logic and added the ability to generate secret santas
  .idea/dataSources.xml
  backend/Controller/DatabaseController.php
  backend/Controller/RoomController.php
  backend/Helper/RouteHelper.php
  backend/Model/AbstractModel.php
  backend/Model/RoomModel.php
  backend/Model/RoomUserModel.php
  database/change-20211017-AB.sql
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Room.tsx
  frontend/src/components/ShowRooms.tsx
  frontend/src/components/room/CreateRoom.tsx
  frontend/src/components/room/JoinRoom.tsx
  frontend/src/components/room/Room.tsx
  frontend/src/components/room/RoomList.tsx
  frontend/src/interfaces/RoomInterface.tsx
Labels: feature, ss-frontend, ss-backend

#21 Feature/style
  backend/Controller/RoomController.php
  backend/Exception/AbstractException.php
  backend/Model/RoomModel.php
  backend/Model/RoomUserModel.php
  backend/Model/UserModel.php
  backend/composer.lock
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fontawesome.css
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Instructions.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Register.tsx
  frontend/src/components/room/CreateRoom.tsx
  frontend/src/components/room/JoinRoom.tsx
  frontend/src/components/room/Room.tsx
  frontend/src/components/room/RoomList.tsx
  frontend/src/css/app.scss
  frontend/src/helpers/BaseHelper.tsx
  frontend/src/interfaces/RoomInterface.tsx
Labels: feature

#22 Feature/added reset password
  .gitignore
  .idea/dataSources.xml
  .idea/secret_santa_v3.iml
  backend/.env.dist
  backend/Controller/AbstractController.php
  backend/Controller/MailController.php
  backend/Controller/RoomController.php
  backend/Controller/UserController.php
  backend/Enum/UserEnum.php
  backend/Helper/RouteHelper.php
  backend/Model/ResetPasswordTokenModel.php
  backend/Model/UserModel.php
  backend/Model/UserTokenModel.php
  backend/composer.json
  backend/index.php
  database/change-20211106-AB.sql
  frontend/src/App.tsx
  frontend/src/components/authentication/Login.tsx
  frontend/src/components/authentication/Register.tsx
  frontend/src/components/authentication/ResetPassword.tsx
  frontend/src/components/authentication/ResetPasswordApply.tsx
  frontend/src/components/room/CreateRoom.tsx
  frontend/src/components/room/RoomList.tsx
  frontend/src/helpers/BaseHelper.tsx
  frontend/src/interfaces/ResetPasswordInterface.tsx
  mailer/.env.dist
  mailer/.gitignore
  mailer/app.py
  mailer/base_enum.py
  mailer/logger.py
  mailer/mailer.py
Labels: feature, ss-frontend, ss-backend

#24 Added new style
  .idea/watcherTasks.xml
  backend/Controller/RoomController.php
  backend/Helper/RouteHelper.php
  backend/Model/RoomModel.php
  backend/Model/UserModel.php
  database/change-20211031-TG.sql
  frontend/src/App.tsx
  frontend/src/components/Home.tsx
  frontend/src/components/Instructions.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Register.tsx
  frontend/src/components/authentication/Login.tsx
  frontend/src/components/authentication/Register.tsx
  frontend/src/components/authentication/ResetPassword.tsx
  frontend/src/components/authentication/ResetPasswordApply.tsx
  frontend/src/components/room/CreateRoom.tsx
  frontend/src/components/room/Room.tsx
  frontend/src/components/room/RoomList.tsx
  frontend/src/interfaces/RoomInterface.tsx
  frontend/src/scss/app.scss
Labels: feature

#25 Added settings page
  .gitignore
  .idea/watcherTasks.xml
  backend/Controller/AbstractController.php
  backend/Controller/RoomController.php
  backend/Controller/UserController.php
  backend/Enum/UserEnum.php
  backend/Helper/RouteHelper.php
  backend/Model/UserModel.php
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/authentication/Login.tsx
  frontend/src/components/authentication/Register.tsx
  frontend/src/components/room/CreateRoom.tsx
  frontend/src/components/room/JoinRoom.tsx
  frontend/src/components/room/Room.tsx
  frontend/src/components/user/Settings.tsx
  frontend/src/helpers/BaseHelper.tsx
  frontend/src/interfaces/UserInterface.tsx
  frontend/src/scss/app.scss
Labels: feature, ss-frontend, ss-backend

#26 Fixed general bug
  frontend/src/components/Home.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/room/CreateRoom.tsx
  frontend/src/components/room/RoomList.tsx
Labels: bug, ss-frontend
